<div class="leaderboard-container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Rang</th>
      <th scope="col">Name</th>
      <th scope="col">Erstellt</th>
      <th scope="col">Punkte</th>
      <th scope="col">Besitzer</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let sygotchi of sygotchis; let i = index" [ngClass]="getTableRowBackground(i + 1)">
      <td>{{i + 1}}</td>
      <td>{{sygotchi.name}}</td>
      <td>{{sygotchi.createdAt | date: 'dd.MM.yy'}}</td>
      <td>{{sygotchi.score}}</td>
      <td>{{sygotchi.owner.username}}</td>
    </tr>
    </tbody>
  </table>
</div>
