<div class="d-flex justify-content-center">
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Bestenliste</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Rang</th>
              <th scope="col">Name</th>
              <th scope="col">Erstellt am</th>
              <th scope="col">Punkte</th>
              <th scope="col">Status</th>
              <th scope="col">Besitzer</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sygotchi of sygotchis">
              <td>{{sygotchi.rank}}</td>
              <td>{{sygotchi.name}}</td>
              <td>{{sygotchi.createdAt | date}}</td>
              <td>{{sygotchi.score}}</td>
              <td>{{sygotchi.dead | alive}}</td>
              <td>{{sygotchi.owner.username}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>

    <a (click)="open(content)" ngbDropdownItem>
      <i class="fa-solid fa-ranking-star"></i>
      <span>Bestenliste</span>
    </a>
  </div>
