<nav class="navbar fixed-top navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" >
      <img (click)="checkLogin()" alt="Sygotchi-logo" class="logo" src="assets/images/sygotchi-logo.png">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <span class="d-flex me-auto"></span>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a ngbDropdownItem routerLink="/team-site">
            <i class="fa-solid fa-users"></i>
            <span>Über uns</span>
          </a>
        </li>
        <li class="nav-item">
          <a ngbDropdownItem routerLink="/how-to-play">
            <i class="fa-solid fa-question"></i>
            <span>Hilfe</span>
          </a>
        </li>
        <li class="nav-item leaderboard">
          <app-leaderboard></app-leaderboard>
        </li>
        <li class="nav-item me-auto">
          <a ngbDropdownItem routerLink="/auth" *ngIf="authService.isAuthenticated()">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
