<footer class="bd-footer py-4 py-md-5 bg-light align-text-bottom">
  <div class="container py-4 py-md-5 px-4 px-md-3">
    <div class="row">
      <div class="col-4 mb-3">
        <app-logo class="footer-logo"></app-logo>
      </div>
      <div class="col-4 mb-3">
        <ul class="list-unstyled">
          <li>
            <a routerLink="/team-site">Über uns</a>
          </li>
          <li>
            <a href="https://coding-camp.sybit.de">Sybit Coding Camp</a>
          </li>
        </ul>
      </div>
      <div class="col-4 mb-3">
        <ul class="list-unstyled">
          <li>
            <a routerLink="/impressum">Impressum</a>
          </li>
          <li>
            <a routerLink="/dsgvo">Datenschutz</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
