<footer class="bd-footer py-4 py-md-5 mt-5 bg-light align-text-bottom">
  <div class="container py-4 py-md-5 px-4 px-md-3">
    <div class="row">
      <div class="col-lg-4 mb-4">
        <app-logo class="footer-logo"></app-logo>
      </div>
      <div class="col-lg-8 mb-8">
        <ul class="list-unstyled">
          <li>
            <a routerLink="/impressum">Impressum</a>
          </li>
          <li>
            <a routerLink="/dsgvo">Datenschutz</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
