<app-header></app-header>
<header>
    <h1><strong>Impressum</strong></h1>
    <img alt="sygotchi-logo" src="../../assets/images/sygotchi-logo.png">
</header>
<div class="impContainer">
    <h4>Unternehmen:</h4>
    <p>Sybit GmbH</p>
    <h4>Vertreten durch:</h4>
    <p>Thomas Regele</p>
    <h4>Adresse: </h4>
    <address> Sankt-Johannis-Straße 1 - 5</address>
    <h4>PLZ und Ort: </h4>
    <p>78315 Radolfzell am Bodensee</p>
    <h4>Land: </h4>
    <p>Deutschland</p>
    <h3>Kontakt:</h3>
    <h4>Telefon:</h4>
    <a type="Telefon" href="07732 95080">07732 95080</a>
    <h4>Website:</h4>
    <a href="https://www.sybit.de">https://www.sybit.de</a>
    <h3>Registereintrag:</h3>
    <h4>Registergericht:</h4>
    <p>Amtsgericht Freiburg</p>
    <h4>Handelsregister:</h4>
    <p>HRB 550606</p>
    <h3></h3>
    <h4>Umsatzsteuer-Identifikationsnummer gemäß § 27a UStG:</h4>
    <p>DE 142314511</p>
    <h4>DUNS Nummer</h4>
    <p>34-124-4838</p>
    <h3></h3>
    <h4>EU-Streitschlichtung</h4>
    <p>
        Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: 
        <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home.chooseLanguage">https://ec.europa.eu/consumers/odr/.</a>
        Unsere E-Mail-Adresse finden Sie oben im Impressum.
    </p>
    <h3></h3>
    <h4>Haftungshinweis:</h4>
    <p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>
</div>