
.container_all{
    display:grid; 
    grid-template-columns: 1fr 2fr;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    main{
        background-color: #FBD189;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    aside{
        padding: 30px;
        background-color: #EFD3D2;
       .color-container{
        display:flex;
        justify-content: space-evenly;
        
       }
    }
}
@media screen and (max-width: 630px) {
    .container_all{
        grid-template-columns: 1fr;
        main{
            grid-row: 1;
        }
        aside{
            grid-row: 2;
        }
    }
    
}