
.container_all{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    margin-bottom: 20;

    main{
      background-color: #eeeeee;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    aside{
        padding: 30px;
        background-color: #e7e7e7;
       .color-container{
        display:flex;
        justify-content: space-evenly;

       }
    }
}
@media screen and (max-width: 630px) {
    .container_all{
        grid-template-columns: 1fr;
        main{
            grid-row: 1;
        }
        aside{
            grid-row: 2;
        }
    }

}
