<div class="center">
  <div class="row w-100">
    <div class="text-center h3">
      <a>{{sygotchi.name}}</a>
    </div>
    <div class="col-6 mb-3">
      <div class="row align-items-center" *ngFor="let need of needsLeft">
        <div class="col-2 text-center">
          <i *ngIf="need.icon" [ngClass]="need.icon"></i>
        </div>
        <div class="col-10">
          <div class="d-flex align-items-center">
            <div class="w-100 me-2">
              <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width.%]="need.progress"
                    [ngStyle]="{'background-color': need.progress >= 75 ? 'green': need.progress >= 50 ? 'yellow': need.progress >= 25 ? 'orange': 'red'}">
                </div>
              </div>
            </div>
            <label>{{ need.progress }}%</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 mb-3">
      <div class="flex">
        <label>Stimmung:
          <i class="fa-regular fa-lg" [ngClass]="mood"></i>
        </label>
        <br>
        <label>Rang:
          <span *ngIf="sygotchi">
            {{ sygotchi.rank + 1 }}
            <i class="fa-solid fa-trophy"></i>
          </span>
        </label>
      </div>
    </div>
  </div>
</div>
