<div class="center">
  <div class="row w-100">
    <div class="text-center h3" *ngIf="sygotchi">
      <a>{{sygotchi.name}}</a>
    </div>
    <div class="col-6">
      <div class="row align-items-center mb-2" *ngFor="let need of needsLeft">
        <div class="col-2 text-center">
          <i *ngIf="need.icon" [ngClass]="need.icon"></i>
        </div>
        <div class="col-10">
          <div class="d-flex align-items-center">
            <div class="w-100 me-2">
              <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width.%]="need.progress"
                    [ngStyle]="{'background-color': need.progress >= 75 ? 'green': need.progress >= 50 ? 'yellow': need.progress >= 25 ? 'orange': 'red'}">
                </div>
              </div>
            </div>
            <label>{{ need.progress }}%</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row" *ngIf="mood">
        <label class="col-8 mb-3"><i class="fa-regular fa-smile"></i> Stimmung:</label>
        <span class="col-4 text-end"><i class="fa-regular fa-lg" [ngClass]="mood"></i></span>

        <label class="col-8 mb-3"><i class="fa-solid fa-trophy"></i> Rang:</label>
        <span  class="col-4 text-end" *ngIf="sygotchi"> {{ sygotchi.rank }}</span>

        <label class="col-8 mb-3"><i class="fa-solid fa-bank"></i> Score:</label>
        <span class="col-4 text-end" *ngIf="sygotchi">{{ sygotchi.score}}</span>
      </div>
    </div>
  </div>
</div>
