.modal-dialog .modal-content {
  width: 80%;
  margin: auto;
}

.warning-text {
  color: red;
}
.center {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.modal-title {
  position: relative;
  left: 36%;
}

.progress {
  height: 7px;
}
@media screen and (max-width: 978px) {


}
@media screen and (orientation:landscape) {
.center{
      margin-top: 100px;
  }
}
