<div class="container">
  <div class="Ü-und-L">
    <h1>Über uns: <br> Das Ergebnis unseres Coding Camps!</h1>
    <a class="logo" href="https://www.sybit.de/"><img class="logo" src="../../assets/images/sygotchi-logo.png"></a>
  </div>

  <div class ="text">
    <p>Sygotchi ist das Ergebnis unseres aufregenden Projekts, des Coding Camps. Als engagierte Schüler haben wir uns fünf Tage lang zusammengetan, um dieses fesselnde Spiel zu entwickeln. Dabei haben wir nicht nur Sygotchi zum Leben erweckt, sondern auch wertvolle Erfahrungen im Teamwork und der Entwicklerwelt gesammelt.</p>
    <p>Während des Camps haben wir die Dynamik und den Zusammenhalt eines Entwicklerteams kennengelernt. Gemeinsam haben wir an Design, Programmierung und Funktionalitäten gearbeitet. Es war eine Woche voller Herausforderungen, die uns jedoch mit jedem Schritt weiterbrachten und unsere technischen Fähigkeiten verbesserten.</p>
    <p>Unser Projekt ermöglichte es uns, kreative Ideen zu verwirklichen und praktische Problemlösungen zu finden. Wir haben gelernt, wie man Herausforderungen in der Entwicklung angeht und durch Teamarbeit effizient Lösungen erzielt.</p>
  </div>
</div>

<img alt="about_us_photo" src="../../assets/images/IMG_4988.jpg" width="500px" height="auto">