body {
  margin: 60px 70px 60px 60px;
}

p {
  margin: 50px 0;
  font-size: 200%;
  font-family: cursive;
  text-align: justify;
  text-indent: 40px;
}

h1 {
  font-size: 300%;
  font-family: cursive;
  text-align: left;
}

.text {
  margin-top: 100px;
}

.Ü-und-L {
  display: flex;
}
.logo {
  float: right;
  margin: 0px 0px 0px 32%;
}
