<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Anleitung
-Statusbalken
-Aktionen
-Punkte
-Umkleide
-Navigation
Statusbalken:
Die Statusbalken zeigen was dein Sygotchi gerade braucht. Sie werden über Zeit kleiner. Wenn einer der Balken 0 erreicht ist das Spiel verloren. 

Aktionen:
Du kannst im unteren Bereich mehrere Knöpfe drücken die verschiedene Balken auffüllen je nach dem in welchen Raum du bist.
 
Punkte:
Punkte kann man nur durch Aktionen bekommen. Sie zeigen deinen Fortschritt und bestimmen deinen Platz in der Rangliste. fhh
</body>
</html>
