<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Anleitung </h1> 
    
    <h2>Statusbalken:</h2>
    <p>Die Statusbalken zeigen was dein Sygotchi gerade braucht. Sie werden über Zeit kleiner. Wenn einer der Balken 0 erreicht ist das Spiel verloren. </p>

    <h2>Aktionen:</h2>
    <p>Du kannst im unteren Bereich mehrere Knöpfe drücken die verschiedene Balken auffüllen je nach dem in welchen Raum du bist.</p>

    <h2>Umkleide:</h2>
    <p>Hier kannst du deinen Sygotchi personalisieren indem du ihm Accessoires oder andere Farben gibst.</p>

    <h2>Navigation:</h2>
    <p>Mit den blauen Pfeilen an den Seiten kannst du Räume wechseln.</p>

    <h2>Punkte:</h2>
    <p>Punkte kann man nur durch Aktionen bekommen. Sie zeigen deinen Fortschritt und bestimmen deinen Platz in der Rangliste.</p>

    <table>
        <thead>
            <tr>
                <th>Action</th>
                <th>Score</th>
                <th>Cooldown</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>drink</td>
                <td> +1</td>
                <td>10s</td>
            </tr>
            <tr>
                <td>feed </td>
                <td>+2</td>
                <td>30s</td>
            </tr>
            <tr>
                <td>clean </td>
                <td>+7</td>
                <td>100s</td>
            </tr>
            <tr>
                <td>play</td>
                <td> -</td>
                <td>-</td>
            </tr>
            <tr>
                <td>sleep</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>

</body>
</html>
