<div class="container">
  <h1>Anleitung </h1>

  <h2>Statusbalken:</h2>
  <p>Die Statusbalken zeigen was dein Sygotchi gerade braucht. Sie werden mit der Zeit kleiner. Wenn einer der Balken 0 erreicht ist das Spiel verloren. </p>
  <img alt="htp_statusbalken"  src="../../assets/images/htp1.PNG" width="500px" height="auto">

  <h2>Aktionen:</h2>
  <p>Durch das Drücken der Knöpfe in einem Raum füllst du die jeweiligen Balken auf.</p>
  <img alt="htp_aktionen" src="../../assets/images/htp2.PNG" width="500px" height="auto">

  <h2>Sygotchi Erstellung:</h2>
  <p>Hier kannst du deinen Sygotchi einmalig erstellen.</p>
  <img alt="htp_creation" src="../../assets/images/Sygotchi_creation.PNG" width="500px" height="auto">

  <h2>Navigation:</h2>
  <p>Mit den Pfeilen an den Seiten kannst du die Räume wechseln.</p>
  <img alt="htp_navigation" src="../../assets/images/htp3.PNG" width="500px" height="auto">

  <h2>Punkte:</h2>
  <p>Punkte kann man nur durch Aktionen bekommen. Sie zeigen deinen Fortschritt und bestimmen deinen Platz in der Rangliste.</p>

  <table>
    <thead>
    <tr>
      <th>Action</th>
      <th>Score</th>
      <th>Cooldown</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Drink</td>
      <td>+2</td>
      <td>10 Min.</td>
    </tr>
    <tr>
      <td>Feed</td>
      <td>+4</td>
      <td>20 Min.</td>
    </tr>
    <tr>
      <td>Clean </td>
      <td>+8</td>
      <td>Muss mind. 30% dreckig sein</td>
    </tr>
    <tr>
      <td>Play</td>
      <td>+6</td>
      <td>30 Min.</td>
    </tr>
    </tbody>
  </table>
</div>
