body {
    margin: 20px;

}

h1 {
    margin-bottom: 40px;
    text-decoration: underline;
    color: #000;
}

p {
    font-size: 20px;
    margin-bottom: 40px;
    color: #000;
}

h2 {
    font-size: 25px;
    
    color: #000;
}

table, thead, tbody, tr, th, td {
    border: #000 thin solid;
    padding: 10px;
    font-size: 20px;
}